# Node modules & build/expo caches
node_modules/
.expo/
.vscode/
dist/
build/

# Local env / logs
.env
*.log

# mac / windows
.DS_Store
Thumbs.db

# other
npm-debug.log*
yarn-debug.log*
yarn-error.log*
